<div ref="container" class="b-section">
    <form :action="'/api/v1/station/add'" method="POST" name="addStation" @submit.prevent="save($event)">
        <h3 class="h-mb-30">Add new station</h3>
        <div class="h-mb-30 h-pb-20 b-input__block js-valid-block">
            <h4 class="h-mb-10 b-required">Station's name</h4>
            <input type="text" name="name" class="b-input b-input__name js-form-valid"
                   data-required="true" data-length="32" autocomplete="off">
         </div>
         <div class="b-input__block h-mb-30 h-pb-20">
            <h4 class="h-mb-10 b-required">Station's picture</h4>
             <app-image-upload :src="stationInfo.imgUrl" @newUrl="changeImgUrl"></app-image-upload>
         </div>
         <div class="h-mb-50 h-pb-20 b-input__block">
             <h4 class="h-mb-10 b-required">Station genres</h4>
             <app-search-select :allGenres="genresList" :stationGenres="stationInfo.station_genres" @getGenres="genres"></app-search-select>
         </div>
        <div class="h-mb-50 h-pb-20 b-input__block js-valid-block">
            <h4 class="h-mb-10 b-required">Input stream</h4>
            <input type="text" name="input_stream" class="b-input b-input__name js-form-valid"
                   data-required="true" data-compare="output_stream" autocomplete="off">
        </div>
        <div class="h-mb-50 h-pb-20 b-input__block js-valid-block">
            <h4 class="h-mb-10">Output stream:</h4>
            <input type="text" name="output_stream" class="b-input b-input__name js-form-valid"
                   data-compare="input_stream" autocomplete="off" value="">
        </div>
        <div class="h-mb-50">
            <span class="b-required"></span> <span class="h-fs-smaller">Required fields</span>
        </div>
        <div class="b-section__btn-block h-mb-502 la-fx">
            <button type="submit" class="b-btn b-section__row-item h-mr-20">Save</button>
            <router-link  :to="'stations/'" class="b-btn b-section__row-item">Cancel</router-link>
        </div>
    </form>
</div>
