<div ref="container">
    <form :action="'/api/v1/station/update/' + (stationData.id)" method="PUT" name="editStation" @submit.prevent="save($event)">
        <h3 class="h-mb-30">Edit the station</h3>
        <div class="h-mb-30 b-input__block js-valid-block">
            <h4 class="h-mb-10 b-required">Station's name</h4>
            <!-- <label class="b-label b-label__edit"></label> -->
            <input type="text" name="name" class="b-input b-input__name js-form-valid" v-model="stationInfo.name"
                   data-required="true" data-length="32" autocomplete="off">
        </div>

        <div class="b-input__block h-mb-50">
            <app-image-upload :src="stationInfo.imgUrl" @newUrl="changeImgUrl"></app-image-upload>
        </div>

        <div class="b-input__block h-mb-50 h-pb-20">
            <h4 class="h-mb-10 b-required">Station genres:</h4>
            <div class="" v-if="stationData.genres">
               <app-search-select :allGenres="all_genres" :stationGenres="stationInfo.station_genres_obj" @getGenres="genres"></app-search-select>
            </div>
            <div v-else  class="b-txt__note h-ml-10">Your genre list is empty</div>
        </div>
        <div class="h-mb-50 h-pb-20 b-input__block js-valid-block">
           <h4 class="h-mb-10 b-required">Input stream</h4>
           <!-- <label class="b-label b-label__edit"></label> -->
           <input type="text" name="input_stream" class="b-input b-input__name js-form-valid"
                  data-required="true" data-compare="output_stream" :value="stationInfo.input_stream" autocomplete="off">
        </div>
        <div class="h-mb-50 h-pb-20 b-input__block js-valid-block">
            <h4 class="h-mb-10">Output stream:</h4>
            <!-- <label class="b-label b-label__edit"></label> -->
            <input type="text" name="output_stream" class="b-input b-input__name js-form-valid"
                   data-compare="input_stream" :value="stationInfo.output_stream" autocomplete="off">
        </div>
        <div class="b-section__btn-block h-mb-50 la-fx">
            <button type="submit" class="b-btn b-section__row-item h-mr-20">Save</button>
            <button type="button" class="b-btn b-section__row-item" @click="remove">Remove</button>
        </div>
    </form>
</div>
