<div class="b-section">
     <h3 class="b-section__header">Genres list</h3>
     <table class="b-table">
         <tr class="b-table__header">
             <td class="b-table__td">Index</td>
             <td class="b-table__td">Name</td>
             <!-- <td class="b-table__td"></td> -->
         </tr>
        <tr  class="b-table__row" v-for="(genre, index) in genresList.data" :key="index">
             <td class="b-table__td">
                {{genre.genre_id}}
                <!-- <router-link  :to="'genre/' + (genre.genre_id)" class="b-link__primary">{{ genre.name }}</router-link> -->
                <!-- <router-link  :to="{name: 'user/' + (user.id)}" class="b-link__primary">{{ user.name }}</router-link> -->
             </td>
             <td class="b-table__td">{{ genre.name }}</td>
             <!-- <td class="b-table__td">Remove</td> -->
         </tr>
     </table>
</div>
