.b-btn
    background: #395969
    border-radius: 4px
    box-sizing: border-box
    color: #fff
    cursor: pointer
    display: block
    font-size: 18px
    font-weight: bold
    height: 50px
    line-height: 50px
    text-align: center
    transition: background 0.5s
    min-width: 170px
    width: max-content
    padding: 0 30px
    @include xxs
        min-width: 120px

    &:hover
        background: #204658
        transition-duration: 0.3s
