.b-dd
    position: absolute
    z-index: 50
    width: 400px
    max-height: 300px
    overflow-y: auto
    border: solid 1px #e9edef
    display: none
    @include xs
        width: 96%

.b-dd__list
    background: #fff

.b-dd__item
    padding: 10px
    position: relative
    &:hover
        cursor: pointer
        background: #f9f9f9

.b-dd__item_inactive
    opacity: 0.3
    &:hover
        cursor: text

.b-dd__item_focus
    background: #eff4f6
    &:hover
        background: #eff4f6


