.b-ham
    width: 40px
    height: 30px
    flex-direction: column
    justify-content: space-between
    background: #204658
    cursor: pointer
    position: absolute
    right: 0
    top: 0
    padding: 10px
    border-radius: 0 0 7px 0
    transition: all 0.3s
    display: none
    @include s
        display: flex
    @include xxs
        right: -40px
        transition-duration: 0.3s

.b-ham__item
    display: block
    width: 100%
    height: 4px
    background: #fff
    border-radius: 2px
