.b-holder


.b-holder__box
    max-width: 400px
    @include xs
        max-width: auto


.b-holder__item
    background: #f5f5f5
    border-radius: 3px
    padding: 10px 40px 10px 10px
    margin-right: 5px
    margin-bottom: 5px
    position: relative

    &:hover
        background: #e8e8e8
        cursor: pointer
        &.b-holder__close
            &:after
                color: #7c7c7c

.b-holder__close
    &:after
        content: "\1F7AA"
        font-size: 20px
        position: absolute
        right: 7px
        top: 7px
        color: #ababab


