.b-html__menu-open

    .b-content-side
        opacity: 0.3

    .b-navbar
        transform: translateX(0)
        transition-duration: 0.3s

    .b-navbar__content
        display: block
    .b-ham
        height: 20px
        width: 20px
        top: 5px
        right: 2px
    .b-ham__item
        width: 27px
        &:nth-child(1)
            transform: rotate(45deg)
        &:nth-child(2)
            transform: rotate(-45deg)
        &:nth-child(3)
            display: none
