.b-ico
    display: inline-block
    position: relative
    &:before
        font-size: 30px

.b-ico_remove
    &:before
        content: "\1F5D1"
        color: #b7b7b7
        font-weight: bold
        line-height: 30px
        transition: color 0.5s
    &:hover
        &:before
            color: #1591cc
            cursor: pointer
            transition-duration: 0.3s
