.b-image__station
    width: 70px
    @include xxs
        display: none

.b-image__link
    cursor: pointer
    @include xxs
        max-width: 200px

.b-image__block
    @include xs
        text-align: center

