.b-input
    width: 70%
    max-width: 700px
    height: 50px
    padding: 0 10px
    border: solid 1px #e9edef
    border-radius: 3px
    box-sizing: border-box
    &:focus
        border: solid 1px #8fb6ca
        outline: 0
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
        transition-duration: 0.3s

        &+.b-input__label-search
            &:before
                color: #77b4d1
                transition-duration: 0.3s
        &+.b-label__edit
            &:after
                opacity: 0
                transition-duration: 0.3s


.b-input__name
    font-size: 24px
    color: #267aa2
    border-color: #f5f5f5
    @include xs
        width: 100%
        border-color: #c7d4da

.b-input__hidden
    display: none

.b-input__block
    position: relative

    @include xs
        padding: 15px 10px
        border-radius: 3px
        background: #f7fafa
        margin: 7px 0

.b-input__error
    border-color: #d1a1a1
    box-shadow: 0px 0px 10px 0px rgba(196,42,42,0.3)

.b-input__search-block
    position: relative
    width: 580px
    @include xs
        width: 100%

.b-input__search
    padding-left: 40px

.b-input__label-search
    position: absolute
    left: 10px
    top: 12px
    &:before
        content: "\1F50D"
        font-size: 20px
        color: #b9d4e1
        transition: color 0.5s
