.b-msg

.b-msg__error
    background: #be8383
    border-radius: 3px
    color: #fff
    display: inline-block
    padding: 10px
    position: absolute
    transform: translate(15px, 8px)

    &:before
        content: ""
        border-style: solid
        border-width: 6px 8px 6px 0
        border-color: transparent #be8383 transparent transparent
        display: inline-block
        position: relative
        left: -18px
        bottom: -2px

    @include xs
        bottom: -8px
        background: none
        color: #be8383
        position: relative
        padding: 0
        transform: translate(0, 0)
        left: 33%
        &:before
            border-width: 0



