.b-navbar
    width: 300px
    min-width: 300px
    height: 100vh
    background: #204658

    @include s
        transform: translateX(-76%)
        position: absolute
        left: 0
        top: 0
        width: 250px
        min-width: 250px
        transition: all 0.3s
        z-index: 100
    @include xxs
        transform: translateX(-93%)

.b-navbar__content
    @include s
        display: none

.b-navbar__title
    margin: 20px 20px 20px 40px

.b-navbar__title-link
    color: #00c0ff

.b-navbar__title-link.router-link-active
    background: none

.b-content__header
    background: rgba(32,70,88,0.1)
    padding: 10px 20px
    color: rgba(32,70,88,0.7)
    @include xxs
        text-align: center
