.b-nav__list
    margin: 20px

.b-nav__item
    background: rgba(255, 255, 255, 0.1)
    margin-bottom: 5px
    border-radius: 5px
    transition: all 0.5s
    overflow: hidden

.b-nav__item
    &:hover
        background: rgba(255, 255, 255, 0.3)
        transition-duration: 0.3s

.b-nav__link
    display: block
    padding: 10px
    color: #ddf7f5

.b-nav__link.router-link-active
    background: rgba(255, 255, 255, 0.3)
