.b-notification
    position: absolute
    top: -100%
    left: 50%
    transform: translateX(-25%)
    z-index: 1000
    background: #204658
    color: #fff
    padding: 30px
    animation: show_msg 3.5s
    @include xxs
        left: 34%

    @keyframes show_msg
        60%
            top: 20px
            opacity: 1
        80%
            top: 20px
            opacity: 1
        100%
            top: 20px
            opacity: 0
