.b-section

.b-section__header
    margin-bottom: 20px
    @include xxs
        width: 100%
        padding-top: 10px
        text-align: center

.b-section__link
    @include xxs
        margin: 0 auto 20px auto
        padding: 15px 20px
        background: #7a9198
        color: #fff
        border-radius: 3px

.b-section__scroll
    max-height: 90vh
    overflow: auto

.b-section__row-item
    @include xxs
        margin-bottom: 10px

        &:last-child
            margin-bottom: 0

.b-section__btn-block
    @include xs
        justify-content: center



