.b-table
    width: 100%
    border-spacing: 0
    empty-cells: show

.b-table__td
    padding: 12px 10px
    border-bottom: solid 1px rgba(32,70,88,0.2)
    @include s
        padding: 10px 3px

.b-table__td_small
    width: 1%
    padding-right: 25px
    @include xxs
        padding-right: 0

.b-table__header
    font-weight: bold

.b-table__row
    transition: all 0.3s
    &:hover
        background: rgba(32,70,88,0.1)
//         .b-table__td_move
//             &:after
//                 background: #6a8c9a
//         .b-table__ico-move
//             background: rgba(32,70,88,0.3)

// .b-table__td_move
//     position: relative
//     padding-left: 25px
//     &:after
//         content: ""
//         width: 6px
//         height: 100%
//         position: absolute
//         left: 0
//         top: 0
//         background: #a1bcc7
//     &:hover
//         cursor: move


// .b-table__ico-move
//     width: 5px
//     height: 5px
//     border-radius: 50%
//     background: rgba(32,70,88,0.1)
//     margin-bottom: 5px
//     &:last-child
//         margin: 0
