.la-fx
    display: flex

.fx-wn
    flex-wrap: nowrap

.fx-w
    flex-wrap: wrap

.fx-d-c
    flex-direction: column


.fx-grow-1
    flex-grow: 1

.fx-grow-2
    flex-grow: 2


// Flex content alignment (jc)

.fx-jcc
    justify-content: center

.fx-jcsa
    justify-content: space-around

.fx-jcsb
    justify-content: space-between

.fx-jce
    justify-content: flex-end


// Flex items alignment (ai)

.fx-ais
    align-items: flex-start

.fx-aie
    align-items: flex-end

.fx-aic
    align-items: center

.fx-aib
    align-items: baseline

// Flex self-alignment (as)

.fx-asc
    align-self: center

.fx-ba
    flex-basis: auto

.fx-b-100p
    flex-basis: 100%

.fx-b-75p
    flex-basis: 75%

.fx-b-50p
    flex-basis: 50%

.fx-b-33p
    flex-basis: 33%

.fx-b-25p
    flex-basis: 25%
