// $primary: green

html, body
    margin: 0
    padding: 0
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    color: #2c3e50

ul, ol
    list-style: none

ul, ol, h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0
a
    text-decoration: none

input, textarea
    border: none
    outline: none
    &:focus
        border: none
        outline: none
button
    border: none
    outline: none
    &:focus
        border: none
        outline: none

#app
    width: 100%

.b-wrapper
    display: flex
    justify-content: space-between
    max-height: 100vh
    overflow-y: hidden

.b-content-side
    width: 100%
    margin-bottom: 50px
    @include s
        padding-left: 60px
    @include xxs
        padding-left: 0

.b-link__primary
    color: #1591cc
