.h-center
    margin: 0 auto

.h-p-0
    padding: 0

.h-pt-10
    padding-top: 10px

.h-pt-15
    padding-top: 15px

.h-pt-20
    padding-top: 20px


.h-pt-50
    padding-top: 50px

.h-pr-25
    padding-right: 25px

.h-pb-10
    padding-bottom: 10px

.h-pb-20
    padding-bottom: 20px

.h-pl-25
    padding-left: 25px

.h-pv-10
    padding-top: 10px
    padding-bottom: 10px

.h-pv-20
    padding-top: 20px
    padding-bottom: 20px

.h-pv-25
    padding-top: 25px
    padding-bottom: 25px


.h-ph-25
    padding-left: 25px
    padding-right: 25px

.h-mt-0
    margin-top: 0

.h-mt-5
    margin-top: 5px

.h-mt-10
    margin-top: 10px

.h-mt-15
    margin-top: 15px

.h-mt-20
    margin-top: 20px

.h-mt-25
    margin-top: 25px

.h-mt-30
    margin-top: 30px

.h-mt-50
    margin-top: 50px

.h-mr-20
    margin-right: 20px

.h-mr-a
    margin-right: auto

.h-mb-5
    margin-bottom: 5px

.h-mb-10
    margin-bottom: 10px

.h-mb-15
    margin-bottom: 15px

.h-mb-20
    margin-bottom: 20px

.h-mb-25
    margin-bottom: 25px

.h-mb-30
    margin-bottom: 30px

.h-mb-50
    margin-bottom: 50px

.h-ml-10
    margin-left: 10px

.h-ml-a
    margin-left: auto

.h-mr-10
    margin-right: 10px

.h-mr-50
    margin-right: 50px

.h-mv-15
    margin-top: 15px
    margin-bottom: 15px

.h-mv-25
    margin-top: 25px
    margin-bottom: 25px

.h-d-n
    display: none

.h-d-b
    display: block

.h-d-ib
    display: inline-block

.h-w-200
    width: 200px

.h-w-100p
    width: 100%

.h-tt-up
   text-transform: uppercase

.h-ta-c
    text-align: center

.h-ta-r
    text-align: right

.h-ta-l
    text-align: left

.h-brd-t-1
    border-top: solid 1px #efefef

.h-brd-b-1
    border-bottom: solid 1px #efefef

.h-brd-h-1
    border-top: solid 1px #efefef
    border-bottom: solid 1px #efefef

.h-link-color-black
    color: #000

.h-overflow-hid
    overflow: hidden

.h-fw-b
    font-weight: bold

.h-2col
    width: 66.6%

.h-1col
    width: 33.4%

.h-w-100p
    width: 100%

.h-mw-300
    min-width: 300px
    width: 300px

.h-ws-nw
    white-space: nowrap

.h-fs-smaller
    font-size: smaller

.h-fs-large
    font-size: large

.h-f-12px-light
    color: #bfccd2
    font-size: 12px



