<div class="b-section2">
    <div class="la-fx fx-jcsb fx-w">
        <h3 class="b-section__header">Stations list</h3>
        <router-link :to="{name: 'new_station'}" class="b-link__primary b-section__link">+ Add new station</router-link>
    </div>
     <div class="b-section__scroll2">
         <table class="b-table dropzone" ref="drop_block">
            <tr class="b-table__header">
                <td class="b-table__td"></td>
                <td class="b-table__td b-table__td_small h-ws-nw">Index</td>
                <td class="b-table__td"></td>
                <td class="b-table__td">Name</td>
                <td class="b-table__td"></td>
            </tr>
            <tr class="b-table__row draggable" v-for="(station, index) in stationsList.data" :key="index" draggable="true" :id="station.station_id" :data-index="station.station_index">
                <td class="b-table__td b-table__td_small b-table__td_move">
                    <div class="b-table__ico-move"></div>
                    <div class="b-table__ico-move"></div>
                    <div class="b-table__ico-move"></div>
                </td>
                <td class="b-table__td  b-table__td_small h-ta-c">{{station.station_index}}</td>
                <td class="b-table__td b-table__td_small">
                   <img :src="[station.image_url ? station.image_url : 'http://s1.iconbird.com/ico/1012/Qetto2Icons/w256h2561350657667radio.png']" alt="" class="b-image__station">
                </td>
                <td class="b-table__td">
                   <router-link  :to="'station/' + (station.station_id)" class="b-link__primary">{{ station.name }}</router-link>
                </td>
                <td class="b-table__td" @click="remove($event)"><span class="b-ico b-ico_remove"></span></td>
            </tr>
         </table>
     </div>
<!--      <div class="h-mt-50 la-fx fx-jcsb">
       <button type="button" class="b-btn" @click="saveOrder($event)">Save</button>
     </div> -->
</div>
