<template>
  <div id="app">
      <div class="b-wrapper">
        <div class="b-navbar">
            <div class="b-ham" @click="toggleMenu($event)">
                <span class="b-ham__item"></span>
                <span class="b-ham__item"></span>
                <span class="b-ham__item"></span>
            </div>
            <div class="b-navbar__content">
              <h3 class="b-navbar__title">
                  <router-link :to="{name: 'users'}" class="b-navbar__title-link">FEXRadio</router-link>
              </h3>
              <app-menu></app-menu>
            </div>
        </div>
        <div class="b-content-side">
            <div class="b-content__header">
                <h4>AdminPanel of FEXRadio</h4>
            </div>
            <div class="b-content">
                <router-view></router-view>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
    import { router } from './settings';
    import AppMenu from './components/menu/menu.vue';

    export default {
      name: 'app',
      components: {
        AppMenu,
      },
      router,

      created() {
          if(localStorage.getItem("token")) {
              this.$store.commit('toggleLogin');
              this.$store.commit('setUserName', localStorage.getItem("phone"));
          }
      },
      mounted() {
        document.documentElement.classList.remove("b-html__menu-open");
      },
      methods: {
        toggleMenu(event) {
          document.documentElement.classList.toggle("b-html__menu-open");
        }
      }
    }

</script>

