<nav class="b-nav">
    <ul class="b-nav__list">
        <li class="b-nav__item">
            <router-link :to="{name: 'auth'}" class="b-nav__link">Authorisation</router-link>
        </li>
        <template v-if="$store.state.isLogin">
            <li class="b-nav__item">
                <router-link :to="{name: 'stations'}" class="b-nav__link">Stations</router-link>
            </li>
            <li class="b-nav__item">
                <router-link :to="{name: 'genres'}" class="b-nav__link">Genres</router-link>
            </li>
        </template>
    </ul>
</nav>
