<div class="b-content station">
    <h3 class="h-mb-50">
        <span v-if="!$store.state.isLogin">Authorisation</span>
        <span v-else>You are authorized</span>
    </h3>
    <form action="/api/v1/user/auth/login" class="b-login b-form" method="POST" @submit.prevent="logIn($event)">
        <div class="" v-if="!$store.state.isLogin">
            <input name="_csrf_token" type="hidden" value="d40a5162-e17f-4a12-96f2-27d94621ce6b">
            <div class="">
                <div class="h-mb-10">
                    <label class=""></label>
                    <!-- <input autofocus="" class="b-input" name="phone" placeholder="Phone" type="text" value="+19592650033"> -->
                    <input autofocus="" class="b-input" name="phone" placeholder="Phone" type="text" value="">
                </div>
            </div>
            <div class="h-mb-30">
                <div class="b-form__input-wrap">
                    <label class=""></label>
                    <!-- <input class="b-input" name="password" placeholder="Password" type="password" value="11111111"> -->
                    <input class="b-input" name="password" placeholder="Password" type="password" value="">
                </div>
            </div>
            <div class="la-fx fx-jcsb" style="width: 372px">
                <button class="b-btn" type="submit">Войти</button>
            </div>
        </div>

        <div class="" v-else>
            <h4 class="h-mb-50">
                Hello, {{ $store.state.userName }}!
            </h4>
            <button class="b-btn" type="button" @click="logOut">Выйти</button>
        </div>
    </form>
</div>
