<div class="js-genres-block" ref="jsGenresBlock">
    <div class="b-holder__box la-fx fx-w" ref="holderBox" @click="removeItems($event)"></div>
    <div class="b-input__search-block js-valid-block">
        <label class="b-input__label-search"></label>
        <input type="text" class="b-input b-input__name b-input__search js-search-select js-form-valid"
               autocomplete="off" @click="dropDown($event)" @keyup="search($event),navigate($event)" ref="searchSelectInput">
        <input type="hidden" name="genres" data-required="true" :value="genresSelect">
    </div>
    <div class="b-dd">
        <ul class="b-dd__list">
            <li class="b-dd__item" :data-name="item.name" :id="item.genre_id" v-for="(item, index) in allGenres.data">{{ item.name }}</li>
        </ul>
    </div>
</div>

